body{
    background-color: rgb(76, 72, 148);
     display: flex;
    justify-content:center;
    align-items: center;
    margin: 100px;
    padding: 0px;
    gap: 100px;
}
.cont{
    height: 22rem;
    width: 20rem;
    border: 5px double rgb(203, 203, 203);
}
 .cont h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.cityInput{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.details p{
    display: flex;
    /* justify-content:; */
    /* align-items:; */
    font-weight: 800;
    padding: 2px;
    margin: 10px;
}
.cityInput input{
    height: 40px;
    background-color: rgb(0, 0, 0);
    border: solid rgb(101, 95, 154);
    border-radius: 60px;
    color: white;
}
.cityInput input::placeholder{
     text-align: center;
    color: white;
    opacity: 1;
}
.cityInput button{
    background-color: rgb(152, 152, 168);
    border: solid rgb(101, 95, 154);
    color: rgb(255, 255, 255);
    background-color: black;
}
.result{
    color: white;
}
.result h2{
    padding: 3px;
    margin: 5px;
} 
#amount{
    height: 40px;
    background-color: rgb(0, 0, 0);
    border: solid rgb(101, 95, 154);
    border-radius: 60px;
    color: white;
}
.inn{
     display: flex;
     justify-content: center;
     align-items: center;
}
.inn input::placeholder{
    text-align: center;
    color: white;
    opacity: 1;
}
.inputsec h2{
    color: white;
}
.inputsec input,
.inputsec select {
  width: 70%;
  padding:10px;
  border-radius: 7px;
  border: none;
  margin-bottom: 15px;
  outline: none;
}
.inputsec select{
   margin-left: 45px;
}
.inputsec button{
    background-color: rgb(152, 152, 168);
    border: solid rgb(101, 95, 154);
    color: rgb(255, 255, 255);
    background-color: black;
    width: 60%;
    padding:10px;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    margin-left: 58px;
}
