body{
    background-color: rgb(76, 72, 148);
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.cont{
    height: 20rem;
    width: 20rem;
    border: 1px dotted rgb(203, 203, 203);
}
 .cont h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.cityInput{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.details p{
    display: flex;
    /* justify-content:; */
    /* align-items:; */
    font-weight: 800;
}
.cityInput input{
    height: 40px;
    background-color: rgb(0, 0, 0);
    border: solid rgb(101, 95, 154);
    border-radius: 60px;
    color: white;
}
.cityInput input::placeholder{
    color: white;
    opacity: 1;
}
.cityInput button{
    background-color: rgb(152, 152, 168);
    border: solid rgb(101, 95, 154);
    color: rgb(255, 255, 255);
    background-color: black;
}
.result{
    color: white;
}