body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.main {
    background: linear-gradient(135deg, #d4caca, #b9b1b1);
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    margin: 60px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.pic {
    width: 48%;
    height: 250px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.text {
    margin: 30px;
    width: 48%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 15px;
    border: 2px solid white;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(4px);
    font-size: 2rem;

    overflow-wrap: break-word;  
    word-break: break-word;      
}

.text h1 {
    text-align: center;
    width: 100%;
    margin: 0;
}


.count {
    width: 48%;
    height: 55px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: rgba(255,255,255,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: black;
}

.info {
    width: 100%;
    height: 130px;
    border-radius: 12px;
    border: 2px solid #8f0a0a;
    background-color: rgba(255,255,255,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: black;
}
