
        body{
    background-color: rgb(255, 255, 255);
}

.container{
    display: block;
    background-color: rgb(219, 214, 214);
    color: rgb(27, 25, 25);
    font-size: 1.5 rem;
    height:auto;
    border-radius: 10px;
    margin: 80px;

}
.text{
    margin: 10px;
    width: 23%;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    height: 15%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.image{
    display: block;
    width: auto;
    margin: 0px 40px;
    color: rgb(0, 0, 0);
    height: 120px;
    padding-left: 10px;
    cursor: pointer;

}
.image input{
    display: block;
    width: 40vh;
    height: 40px;
    color: black;
    background-color: blueviolet;
    border-radius: 20px;
}
.image input::placeholder{
    color: black;
}
.info{
    padding-bottom: 10px;
    display: block;
    width: auto;
    margin: 2px 40px;
    color: rgb(0, 0, 0);
    height: auto;
    padding-left: 10px;
    cursor: pointer;
    height: auto;
    font-size: 1.5rem;

}
.info input{
    box-sizing: border-box;
    padding-bottom: 47px;
    padding-left: 17px;
    display: block;
    width: 80%;
    height: 100px;
    color: black;

    background-color: rgb(0, 60, 255);
    border-radius: 20px;
}
.info input::placeholder{
    color: black;
}
.small{
    display: inline-flex;
    width: 30%;
    margin-left: 40px;  
    margin-top:10px;
    color: rgb(0, 0, 0);
    height: 120px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 1.5rem;

}
.small input{
    position: absolute;
    margin-top: 60px;
    padding-top: 10px;
    width: 40vh;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: blueviolet;
    border-radius: 20px;
}
.small h4{
    margin-top: 4px;
}
.small input::placeholder{
    color: black;
}
.submit-btn {
    margin-left: 600px;
    margin-bottom: 20px;
    padding: 12px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
}

/* .main{
    display: block;
    background-color: rgb(178, 166, 166);
    color: rgb(27, 25, 25);
    font-size: 1.5 rem;
    height:80vh;
    border-radius: 10px;
    margin: 80px;
    border: 0.5px solid white;
}

.pic{
    margin: 30px;
    display: inline-flex;
    width: 500px;
    height: 250px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}

.text{
    margin: 30px;
    width: 700px;
    height: 250px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid white;
    font-size: 2rem;
}
.count{
    margin-left: 100px;
    width: 300px;
    height: 50px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid white;
}
.count1{
    position: absolute;
    margin-top:-75px;
    margin-left: 800px;
    width: 300px;
    height: 50px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid white;
}
.info{    
    margin-top: 20px;
    margin-left: 100px;
    width: 800px;
    height: 120px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid rgb(114, 7, 7);
    font-size: 1.5rem;
} */
/* .info1{ */
    /* padding-bottom: 20px; */
    /* padding-top: 10px; */
/* } */

     